services:
    web:
        image: nginx:latest
        container_name: kashidashi_web
        ports:
            - "80:80"
        expose:
            - 9000
        volumes:
            - ./:/var/www/html
            - ./.docker/nginx/kashidashi.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php

    mysql:
        image: mariadb:10.3.36
        container_name: kashidashi_mysql
        volumes:
            - .docker/data/db:/var/lib/mysql
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: kashidashi
        ports:
            - "3306:3306"

    php:
        build:
            context: .docker/php
            args:
                - DOCKER_XDEBUG_IDE_KEY=${DOCKER_XDEBUG_IDE_KEY}
        container_name: kashidashi_php
        volumes:
            - .:/var/www/html
            - .docker/data/db:/var/lib/mysql
        environment:
            - PHP_IDE_CONFIG=serverName=kashidashi.local
        depends_on:
            - mysql
        expose:
            - 9003 # x-debug
        extra_hosts:
            - "host.docker.internal:host-gateway"

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: kashidashi_phpmyadmin
        depends_on:
            - mysql
        ports:
            - "8080:80"
        links:
            - mysql
        environment:
            PMA_HOSTS: mysql

    node:
        build:
            context: ./.docker/node
        container_name: kashidashi_node
        hostname: kashidashi-node
        domainname: local
        tty: true
        volumes:
            - .:/home/node/
        ports:
            - "9999:9999"
            - "6006:6006"
