body {
  font-size: 14px;
}

.borrower {
  height: 40px;
  border-bottom: 1px solid lightblue;
}

.borrower-id {
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid red;
}

.loan-details {
  border-bottom: 2px solid lightblue;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-device-width: 480px) {
  body, i {
    font-size: 50px;
  }

  .borrower {
    height: 80px;
  }

  .loan-details {
    min-height: 150px;
    border-bottom: 2px solid lightblue;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
